<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Illumine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Illumine.Properties.Settings>
            <setting name="KeybindKeys" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="KeybindMods" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultMonitor" serializeAs="String">
                <value>0</value>
            </setting>
        </Illumine.Properties.Settings>
    </userSettings>
</configuration>
